[submodule "themes"]
	path = themes
	url = git@github.com:getpelican/pelican-themes.git
[submodule "plugins"]
	path = plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "3rdtools/misc-tools"]
	path = 3rdtools/misc-tools
	url = https://github.com/ShellShoccar-jpn/misc-tools.git
