pelican
Markdown
nbconvert==5.6.1
IPython
beautifulsoup4
requests
libsass
pelican-jupyter
pelican-sitemap
pelican-render-math
pelican-tag-cloud
pelican-related-posts
pelican-simple-footnotes
pelican-neighbors
minchin.pelican.plugins.nojekyll
ipython_genutils
pelican-jinja2content
jinja2
