.navbar-default {
    background-color: #1d2113;
		border-color: #f0f0f0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: red;
    background-color: #e7e7e7;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color: red;
}

.container a {
	 color: white;
	 text-decoration: none!important;
}
