<div class="content-body" itemprop="text">
{% for group in TAG_GROUPS %}
  <h2>{{ group.0 }} &nbsp;&nbsp;
    <img class="notebook-badge-image" src="https://img.shields.io/static/v1?label=Tags&message={{ group.0|urlencode }}&labelColor=black&color={{ group.2 }}" alt="tags:{{ group.0 }}"></img>
  </h2>
  <div class="blog_box">
  <ul class="group_taglist">
  {%- for tagname in group.1 -%}
    {%- for tag in tags -%}
      {% if tag.0.name == tagname %}
    <li><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tagname|replace(' ','&nbsp;') }}</a>&nbsp;<span class="article-numbers">({{ tag.1|length }})</span></li>
      {% endif %}
    {%- endfor -%}
  {%- endfor -%}
  </ul>
  </div>
{% endfor %}
</div>
<hr>
（記事中の意見やお勧めなどは原則としてそれぞれの執筆者個人のものであり、会としての見解を示すものではありません。）
<hr>
